// Override default variables to customize the Docsy theme
.td-navbar {
  background-color: #006931 !important;
}

// Custom styles for the cover block


#td-cover-block-0 {
    background-image: url('/featured-background.jpg') !important;
    background-size: cover;
    background-position: center;
}

// Custom styles for the navbar logo
.td-navbar .navbar-brand__logo {
  content: url('/images/logo-get-smart.svg');  // Use the new SVG
  max-height: 50px;  // Ensure responsiveness; adjust as needed
  width: auto;
  height: auto;
}

// Optional: Hide project name if the logo is a wordmark
.td-navbar .navbar-brand__name {
  display: none;
}
