<!-- layouts/partials/navbar.html -->
<nav class="td-navbar">
  <div class="container-fluid flex-column flex-md-row">
    <a class="navbar-brand" href="/">
      <img class="navbar-brand__logo" src="/images/logo-get-smart.svg" alt="Get Smart Logo">
      <span class="navbar-brand__name">Your Project Name</span>
    </a>
    <div class="td-navbar-nav-scroll ms-md-auto" id="main_navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/docs/"><span>Docs</span></a>
        </li>
      </ul>
    </div>
    <div class="d-none d-lg-block">
      <div class="td-search td-search--offline">
        <div class="td-search__icon"></div>
        <input type="search" class="td-search__input form-control" placeholder="Search this site…" aria-label="Search this site…" autocomplete="off" data-offline-search-index-json-src="/offline-search-index.json" data-offline-search-base-href="/" data-offline-search-max-results="10">
      </div>
    </div>
  </div>
</nav>
